
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background: url(img/wallpaper.jpg) no-repeat center;
    background-size: cover;
}

img {
    width: 150px;
    height: 150px;
    padding: 20px;
}

.players {
    display: flex;
    justify-content: space-around;
    gap: 300px;
    font-size: xx-large;
    font-weight: bolder;
    color: yellow;
    text-shadow: 2px 2px 0px black;
}

.score {
    display: flex;
    justify-content: space-around;
    gap: 330px;
    font-size: 150px;
    font-weight: bolder;
}

.round {
    font-size: x-large;
    font-weight: bolder;
    background-color: rgb(148, 148, 148);
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    text-shadow: 2px 2px 0px black;
}

.choose {
    display: flex;
    margin-top: 30px;
    gap: 50px;
}

.rock {
    border-radius: 50%;
    outline: none;
    background-color: lightgoldenrodyellow;
}

.paper {
    border-radius: 50%;
    outline: none;
    background-color: lightgoldenrodyellow;

}

.scissors {
    border-radius: 50%;
    outline: none;
    background-color: lightgoldenrodyellow;

}

.rock:hover {
    transform: scale(1.2);
    border-color: burlywood;
}

.paper:hover {
    transform: scale(1.2);
    border-color: burlywood;
}

.scissors:hover {
    transform: scale(1.2);
    border-color: burlywood;
}

.result {
    font-size: x-large;
    font-weight: bolder;
    background-color: rgb(148, 148, 148);
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    text-shadow: 2px 2px 0px black;
}

.restart {
    border-style: groove;
    border-color: burlywood;
    background-color:lemonchiffon;
    padding: 20px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
    outline: none;
}

.restart:hover {
    background-color: gold;
}